* {
    margin: 0;
}

.header {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}

.head {
    width: 960px;
    height: 70px;
    margin: 0 auto;
}

a {
    display: block;
    float: right;
    margin-left: 10px;
    color: white;
}

.logo {
    font-size: 23px;
    height: 70px;
    width: 70px;
    line-height: 70px;
}

.banner {
    width: 100%;
    height: 300px;
    background-color: rgb(102,187,51);
    margin: 0 auto;
}

.height {
    position: relative;
    height: 300px;
}

.number {
    position: absolute;
    bottom:20px;
    right: 0;
}

.number1 {
    display: inline-block;
    border: 1px solid black;
    width: 30px;
    height: 35px;
    margin-left: 5px;
    text-align: center;
    line-height: 35px;
}

.one {
    display: inline-block;
    border: 1px solid black;
    width: 30px;
    height: 50px;
    margin-left: 5px;
    text-align: center;
    line-height: 50px;
    position: relative;
    top: -7px;
}

.footer {
    width: 100%;
    height: 120px;
    background-color: rgb(51, 51, 51);
    position: fixed;
    bottom: 0;
}

.footer > p {
    color: white;
    font-size: 11px;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
}

.about {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #6666;
    position: relative;
}
.home {
    position: absolute;
    bottom: -1px;

}

.home1 {
    display: inline-block;
    width: 107px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #6666;
    text-align: center;
    line-height: 50px;
    background-color: #6666;
}

.two {
    border-bottom-color: white;
    background-color: white;
}

.wrap {
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
}

.content {
    border: 1px solid #6666;
    padding: 80px;
    margin-top: 10px;
    margin-right: 10px;
    flex-grow: 1;
    display: inline;
    text-align: center;
    font-size: 14px;
}

.row{
    display: flex;
}
